<%= sanitize_name(@user.name) %> 您好！

<% if Gitlab::CurrentSettings.allow_signup? %>
Your account has been created successfully.
<% else %>
The Administrator created an account for you. Now you are a member of the company GitLab application.
<% end %>

账号.................. <%= @user.email %>

<% if @user.created_by_id %>
Click here to set your password:
<%= edit_password_url(@user, :reset_password_token => @token) %>

这个链接在 <%= password_reset_token_valid_time %> 前有效。链接超时后，您需要再次申请：
<%= new_user_password_url(user_email: @user.email) %>
<% end %>
